/* carousel CSS start */
.carousel_viewport {
    margin-left: 20px;
    width: 400px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
}

#carousel {
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;  
}

#carousel img {
    width: 1200px;
    height: 200px;
}

@keyframes slidein {
    from {
      margin-left: 0px;
    }
  
    to {
      margin-left: -800px;
    }
    0% {  }
    100% {  }
}
/* carousel CSS end */

.menu ul li {
    background-color: chocolate;
}

/* accessing by HTML element */
.menu ul li button {
    background-color: blue;
}

.l_image {
    width: 50%;
    height: 50%;
}

.left {
    width: 400px;
    height: 200px;
    background-color:aquamarine;
    display:inline;
}

.right {
    width: 400px;
    height: 200px;
    background-color:cadetblue;
    display:inline;
}

.browser_images {
    width: 100px;
    height: 100px;
}

.body_text {
    font-family: 'Courier New', Courier, monospace;
}