/* carousel CSS start */
.carousel_viewport {
    margin-left: 20px;
    width: 800px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
}

#carousel {
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;  
}

#carousel img {
    width: 2400px;
    height: 300px;
}

@keyframes slidein {
    from {
      margin-left: 0px;
    }
  
    to {
      margin-left: -1600px;
    }
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}
/* carousel CSS end */

.menu ul li {
    background-color: chocolate;
}

/* accessing by HTML element */
.menu ul li button {
    background-color: blue;
}

.l_image {
    width: 50%;
    height: 50%;
}

.left {
    width: 400px;
    height: 200px;
    background-color:aquamarine;
    display:inline;
}

.right {
    width: 400px;
    height: 200px;
    background-color:cadetblue;
    display:inline;
}

.browser_images {
    width: 100px;
    height: 100px;
}

.body_text {
    font-family: 'Courier New', Courier, monospace;
}

#block1 {
    display: block;
    float: left;
    width: 25%;
    height: 200px;
}

#block2 {
    display: block;
    float: left;
    width: 25%;
    height: 200px;
}

#block3 {
    display: block;
    float: left;
    width: 50%;
    height: 200px;
}

.about_image {
    width: 200px;
    height: 200px;
}