.left {
    width: 400px;
    height: 200px;
    background-color:aquamarine;
    float: left;
}

.right {
    width: 400px;
    height: 200px;
    background-color:cadetblue;
    float: right;
}

.browser_images {
    width: 100px;
    height: 100px;
}

.body_text {
    font-family: 'Courier New', Courier, monospace;
}